@font-face {
    font-family: "Arkhip";
    src: url(Fonts/Arkhip.ttf);
}

h1{
    color: rgb(205, 47, 47);
    font-family: "Arkhip", sans-serif;
}
h2{
    color: rgb(205, 47, 115);
}
a{
    color: rgb(47, 205, 121);
}
body{
    background-color: rgb(155, 155, 155);
}
img{
    width: 400px;
}
.bigtext{
    font-size: 1.5rem;
}
ul{
    list-style-type: square;
}
a:hover{
    color: rgb(101, 29, 101);
}
#Wrapper{
    width: 50%;
    margin: 0 auto;
}